*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-padding-top: 82px;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.hero-img {
  position: relative;
  height: 300px;
  background-image: url("../img/hero-small.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.display-3 {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-brand {
  font-size: 2.2rem;
}
.navbar-brand i {
  padding: 10px;
}
.navbar-brand span {
  font-weight: bold;
  color: #0334d6;
}

nav {
  font-size: 1.8rem;
  text-transform: uppercase;
}
nav .navbar-toggler {
  padding: 10px;
}

footer {
  font-size: 1.6rem;
}

.aboutus-img {
  overflow: hidden;
}
.aboutus-image {
  width: 100%;
  height: 200px;
  background-image: url("../img/aboutus/porsche-gb93bdcecc_640.jpg");
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
}
.aboutus-image:hover {
  transform: scale(1.2);
}
.aboutus-desc {
  font-size: 1.6rem;
}
.aboutus-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutus a {
  font-size: 1.6rem;
  padding: 5px 20px;
}

.carousel img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .fa-solid {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  padding: 0.5em;
  z-index: 1;
  transform: translateY(-50%);
  transition: transform 0.3s, color 0.3s;
}
.carousel .fa-solid:hover {
  transform: translateY(-50%) scale(1.7);
  color: #0334d6;
}
.carousel .fa-caret-right {
  right: 0;
}

.pricelist {
  overflow: hidden;
  background-color: #ddd;
}
.pricelist .card-title {
  font-size: 2.2rem;
  padding-top: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
}
.pricelist .card-text {
  font-size: 1.6rem;
}
.pricelist .btn {
  font-size: 1.6rem;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-weight: bold;
}
.pricelist .other-prices {
  transform: scale(0.9);
}
.pricelist i {
  font-size: 3rem;
  padding: 0.5em 0;
}

.contact-address, .contact-form {
  border: 1px solid rgb(54, 54, 54);
}
.contact-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.contact .additional-info {
  font-size: 1.6rem;
}
.contact-form,
.contact input,
.contact select,
.contact textarea,
.contact .btn {
  font-size: 1.6rem;
}

@media (max-width: 991px) {
  #navbarNavAltMarkup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  #navbarNavAltMarkup.show-nav {
    height: 100%;
  }
  #navbarNavAltMarkup .closebtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 10px;
    font-size: 4rem;
    color: #818181;
    display: block;
    transition: transform 0.3s;
  }
  #navbarNavAltMarkup .closebtn:hover {
    transform: scale(1.2);
  }
  .navbar-toggler,
.navbar-toggler:focus {
    border: none;
  }
}
@media (min-width: 1200px) {
  .hero-img {
    height: 400px;
    background-image: url("../img/hero-big.jpg");
  }
  .carousel img {
    height: 500px;
  }
}/*# sourceMappingURL=style.css.map */